 @model ArticlesList

@if( Model != null  && Model.Articles.Count() > 0)
{
	@foreach (var article in Model.Articles)
	{
		<a class="list-group-item list-group-item-action px-0 py-3"
		   asp-action="Details"
		   asp-route-id="@article.Id"
		   asp-route-slug="@article.Slug">
			<span class="d-flex w-100 justify-content-lg-between flex-column flex-lg-row gap-2">
				<h5 class="mb-1 fw-bold">
					@article.Title
				</h5>
				<span class="text-body-secondary flex-shrink-0" style="max-width: max-content;"> 
					<span class="d-flex flex-wrap gap-2 gap-md-3">
						<span class="article-date">
							<span class="bi bi-calendar"></span>
							<span>@article.PublishedDate.ToString("MMMM dd yyyy, hh:mm tt")</span>
						</span>
						<span class="article-views">
							<span class="bi bi-eye-fill"></span>
							<span>@article.Views.ToAbbreviated() Views</span>
						</span>
						<span class="article-likes">
							<span class="bi bi-heart"></span>
							<span>@article.Likes.ToAbbreviated() Likes</span>
						</span>
						<span class="article-read-time">
							<span class="bi bi-clock-fill"></span>
							<span>@article.ReadingTime min read</span>
						</span>
					</span>
				</span>
			</span>
		</a>
	}

	@if (Model.HasNextPage && Model.Page > 0)
	{
		<div class="d-flex justify-content-center py-3 load-more-article">
			<button type="button"
					accesskey="" class="btn btn-secondary px-4 rounded-pill"
					data-url="@Url.Action("Articles", new { page= Model.Page })">
				<span>Load More Articles</span>
				<span class="bi bi-arrow-down"></span>
			</button>
		</div>
	}
}